.container{
    background-color: #FFFDCF;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    border: 3px solid;
    width: 500px;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    margin: 4cm;
}


#body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}